
{{#each restaurants as |restaurant|}}

  <h1 data-id="{{restaurant.id}}" class="show-restaurants">
  </h1>
  <ul data-id="{{restaurant.id}}">
      {{#if restaurant.restaurant_name}}
        {{restaurant.restaurant_name}}
      {{else}}
        No name information.
      {{/if}}
            <div></div>

  Cuisine:
      {{#if restaurant.cuisine}}
        {{restaurant.cuisine}}
      {{else}}
        This cuisine is... not here?
      {{/if}}
      <div></div>

ID:
      {{#if restaurant.id}}
        {{restaurant.id}}
      {{else}}
        Can't find Restaurant ID
      {{/if}}
  </ul>
  <form class="delete-restaurant">
    <fieldset>
      <input type="hidden" name="restaurant[id]" autocomplete="restaurant id" placeholder="Restaurant ID" value="{{restaurant.id}}">
      <input class="button" type="submit" value="Delete Restaurant">
    </fieldset>
  </form>

<button class="show-update-form button" data-id="{{restaurant.id}}">Update</button>
<!-- {{> update-restaurant}}> -->
<div class="update-restaurant-form hidden">
  <form class="update-restaurant">
    <fieldset>
      <input type="hidden" name="restaurant[id]" autocomplete="restaurant id" placeholder="Restaurant ID" value="{{restaurant.id}}">

      <input type="text" name="restaurant[restaurant_name]" autocomplete="restaurant" placeholder="Restaurant Name" required>

      <input type="text" name="restaurant[cuisine]" autocomplete="cuisine" placeholder="Cuisine" required>

      <input class="button" type="submit" value="Update">
    </fieldset>
  </form>
</div>

<div class="close-list">
  <form class="close-restaurant-list">
    <fieldset>
    <input class="button" type="submit" value="Close List">
  </fieldset>
</form>
</div>

{{/each}}
